<IfModule mod_rewrite.c>

    # Configuration directives related to mod_rewrite

    RewriteEngine On

    Options -Indexes

    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteCond %{SCRIPT_FILENAME} !-d
    
    RewriteRule (.*) index.php [B,L,QSA]

</IfModule>

