<IfModule mod_rewrite.c>
    RewriteEngine On
    Options -Indexes

    # Define variable for source directory
    RewriteRule ^ - [E=PUBLIC_DIR:./]

    # Dynamically set the RewriteBase
    RewriteCond %{REQUEST_URI}::%{HTTP_HOST} ^(\/[^/]+)(?::\d+)?::(?:www\.)?([^:]+)$
    RewriteRule ^ - [E=BASE:%1]

    # Redirect requests to /%{PUBLIC_DIR}/index.php
    RewriteCond %{REQUEST_URI} !^%{ENV:BASE}%{ENV:PUBLIC_DIR}(?:index\.php)?$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ %{ENV:BASE}%{ENV:PUBLIC_DIR}index.php [B,QSA,L]
</IfModule>
    
# Deny access to sensitive files
<FilesMatch "(?i)^(?:(?:composer\.(?:json|lock))|\.)">
    Order allow,deny
    Deny from all
</FilesMatch>
