<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    bootstrap=".tests/boostrap.php" 
    cacheDirectory="./tests/" 
    colors="true"
>
    <testsuites>
        <testsuite name="Uss Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
