{# The base template of user synthetics #}
<!doctype html>
<html>
<head>
        <script>const Uss = JSON.parse(atob('{{ Uss.attr.console64 }}'));</script>
        {% block head %}
            {% block head_main %}
                <title>{{ title }}</title>
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block body_before %}{% endblock %}
            {% block body_main %}{% endblock %}
            {% block body_after %}{% endblock %}
        {% endblock %}
    </body>
</html>