{% macro index_card() %}
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="py-2 text-center">
                        <h2 class='text-center mb-0'>5,000</h2>
                    </div>
                </div>
                <h6 class="card-footer mb-0">
                    <i class="bi bi-people me-1"></i> Users
                </h6>
            </div>
        </div>
    </div>
{% endmacro %}