{% extends '@Shares/base.html.twig' %}

{% import '@Shares/user/macro/index_card.html.twig' as func %}

{% block shares_component %}
    <div class="row">

        {% set items = [
            {
                icon: "bi bi-wallet",
                value: currency ~ user.getUserMeta("user.balance")|number_format(2),
                name: 'Wallet balance'
            }
        ] %}

        {% for item in items %}
            {{ func.index_card(item) }}
        {% endfor %}

    </div>
{% endblock %}